<h1>Medi App</h1>

<h3>Dear <%= @appointment.user.name %>,</h3>
<p>
  We would like to inform you that, your appointment is booked with us. Refer below for more details.
</p>

<table border="1px">
  <tr>
    <th style="text-align: left">Doctor Name:</th>
    <td><%= @appointment.doctor.name %></td>
  </tr>
  <tr>
    <th style="text-align: left">Appointment Time:</th>
    <td><%= parse_time(@appointment.date_time) %></td>
  </tr>
</table>
<br>
<%= link_to 'More Details', appointment_url(@appointment) %>