<h1>Medi App</h1>

<h3>Dear <%= @appointment.user.name %>,</h3>
<p>
  Thank you for choosing <strong>Medi App</strong> for your consultation.
</p>
<p>Here are your appointment details</p>

<table border="1px">
  <tr>
    <th style="text-align: left">Doctor Name:</th>
    <td><%= @appointment.doctor.name %></td>
  </tr>
  <tr>
    <th style="text-align: left">Appointment Time:</th>
    <td><%= parse_time(@appointment.date_time) %></td>
  </tr>
</table>
<br>
<code>PFA: Your Invoice</code>