<div class="w-100 h-100 d-flex align-items-center justify-content-center bg-black"
     style="--bs-bg-opacity: 0.5;">
  <div class="p-5 bg-info rounded-3 shadow-lg">
    <h1 class="fw-bold text-info-emphasis"><%= t('.processing_payment') %></h1>
  </div>
</div>