<p style="color: green"><%= notice %></p>

<h3 class="h3 fw-bold lh-base text-center my-4"><%= t('.my_appointments') %></h3>

<div id="appointments" class="grid appointments-container mx-auto gap-4 mb-3">
  <% @appointments.each do |appointment| %>
    <%= render appointment %>
  <% end %>
</div>
